.container {
  margin: 0 auto;
  width: 50%;
  background-color: cyan;
}



.box {
  width: 200px;
  height: 200px;
  background-color: brown;
  margin: 20px 10px 40px;
  padding: 20px;
  border: 10px solid #000;
}
